html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
}

/* monitors and laptops */
@media (min-width: 1240px),
  (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  (max-width: 768px) and (orientation: landscape) {
  body {
    font-size: 1vw;
  }
}

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 1.1vw;
  }
}

/* mobile */
@media (max-width: 768px) and (orientation: portrait) {
  body {
    font-size: 1.3vw;
  }
}
