//colors
$main-color: #ffdf8c;
$dark-color: #fdd478;
$light-color: #ffe9b0;
$lightest-color: #fff2d2;
$accent-color: #fd7a70;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #837f7f;

//fonts
$regular-text: 1em sans-serif;

$nav-item-text: bold 1em serif;

$bold-header-text: bold 1.5em sans-serif;
$bold-header-text-serif: bold 1.5em serif;

$price-text: 1.3em sans-serif;
$price-text-serif: 1.3em serif;

$description-text: italic 1em sans-serif;
$button-text: bold 2em serif;

//details reused in different components
.count {
  background-color: $accent-color;
  color: $white-color;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

.circle{
  width: 4em;
  height: 4em;
  border-radius: 2em;
  position: absolute;
  left: 0;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;

  figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 1rem;
    margin: 0;
    span {
      font: $price-text;
    }
    img {
      height: 100%;
    }
  }

  border-bottom: rgba($grey-color, 0.5) solid 1px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 5em;
    height: 2px;
    background: $white-color;
  }
}

.auth-button {
  font: $regular-text;
  color: $white-color;
  outline: none;
  height: 2em;
  border-radius: 1em;
  padding: 0 1em;

  &:active{
    transform:translate(0, 10%);
  }
}

.auth-button_login {
  border: none;
  background-color: $accent-color;
}

.auth-button_logout {
  border: $white-color solid 1px;
  background-color: transparent;
}
