@import "../../vars";


.orders{
  background-color: transparent;
  color: $black-color;
  font: $regular-text;
  outline: none;
  border: none;
  padding: 0 0 0 1em;
  text-transform: uppercase;
  height: 4em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  cursor: pointer;

  img{
    height: 2em;
  }

  span {
    margin: 0 1em;
  }

  .circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: -1;

    background-color: $main-color;
  }
}
