@import "../../vars";


.filters{
  .filters__header{
    display: inline;
    margin-top: 0;
    color: $grey-color;
    text-transform: uppercase;
    font: $price-text;
    padding-left: 1em;
  }

  .filters__tag-container {

    .tag_active{
      background-color: $grey-color;
      color: $white-color;
    }

    .tag_inactive{
      background-color: transparent;
      color: $black-color;
    }

    .tag{
      font: $regular-text;
      outline: none;
      border: none;
      margin: 0 1em 0.5em 0;
      text-transform: uppercase;
      border-radius: 1em;
      padding: 0 1em;
    }

    .all{
      background-color: transparent;
      color: $grey-color;
      font: $regular-text;
      outline: none;
      border: none;
      text-transform: uppercase;

      img{
        height: 1em;
        margin-right: 1em;
      }
    }
  }
}
