@import '../../../styles/circles-page';

/*@media (min-width: 1240px),
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
(max-width: 768px) and (orientation: landscape) {
  .auth__form__card {
    height: 50vh;
    max-width: 75vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
(max-width: 768px) and (orientation: portrait) {
  .auth__form__card {
    height: 20vw;
    min-width: 45vw;
  }
}*/

.auth__form__card {
  background-color: $light-color;
  border-radius: 2em;
  padding: 1em;

  span {
    display: flex;
    flex-direction: row;
  }
}

.input_small {
  width: 2em;
  margin: 1em;
}
