@import './vars';

.error-message {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  h1 {
    font: $bold-header-text;
    color: $white-color;
  }
}

.checkbox-container {
  text-align: center;
  button {
    font: $regular-text;
    background-color: transparent;
    border: none;
    outline: none;
  }

  select {
    font: $regular-text;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.admin-dashboard {
  height: 100vh;
  width: 100vw;

  .admin-dashboard__placeholder-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1240px),
    (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
    (max-width: 768px) and (orientation: landscape) {
    header {
      height: 15%;
    }
    main {
      height: 85%;
    }
    table {
      max-height: 60%;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
    (max-width: 768px) and (orientation: portrait) {
    header {
      height: 7%;
    }
    main {
      height: 93%;
    }
    table {
      max-height: 80%;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
    background-color: $main-color;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      h2 {
        font: $price-text;
        color: $grey-color;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        font: $price-text-serif;
        color: $black-color;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    h2 {
      margin-top: 0;
      a {
        text-transform: uppercase;
        cursor: pointer;
        color: $black-color;
      }
    }
    nav {
      width: 15%;
      height: calc(100% - 2em);
      margin: 1em 0;
      padding-left: 1em;
      border-right: rgba($grey-color, 0.5) solid 1px;
      font: $nav-item-text;
    }
    .admin-dashboard__router {
      width: 85%;
      height: calc(100% - 2em);
      margin: 1em 0;
      .auth-button {
        margin-top: 1em;
      }
      table {
        font: $regular-text;
        border-collapse: collapse;
        display: block;
        overflow-y: auto;
        thead {
          position: sticky;
          z-index: 2;
          top: 0;
        }
        th,
        td {
          border: rgba($grey-color, 0.5) solid 1px;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
        th {
          color: $grey-color;
          background-color: $white-color;
          border-top: none;
        }
        tr {
          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.checkbox-container {
  text-align: center;
  button {
    font: $regular-text;
    background-color: transparent;
    border: none;
    outline: none;
  }

  select {
    font: $regular-text;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.anonymous-container {
  text-align: center;
  background-color: $accent-color;
  color: $white-color;
}
