@import "vars";


.orders{
  background-color: transparent;
  color: $black-color;
  font: $regular-text;
  outline: none;
  border: none;
  padding-left: 1em;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  img{
    height: 2em;
  }

  .circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: -1;

    background-color: $main-color;
  }
  p {
    margin-left: 0.5em;
  }
}
