//colors
$main-color: #ffdf8c;
$dark-color: #fdd478;
$light-color: #ffe9b0;
$lightest-color: #fff2d2;
$accent-color: #fd7a70;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #837f7f;

//fonts
$regular-text: 1em sans-serif;

$nav-item-text: bold 1em serif;

$bold-header-text: bold 1.5em sans-serif;
$bold-header-text-serif: bold 1.5em serif;

$price-text: 1.3em sans-serif;
$price-text-serif: 1.3em serif;

$description-text: italic 1em sans-serif;
$button-text: bold 2em serif;

//details reused in different components
.count {
  background-color: $accent-color;
  color: $white-color;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-left: 1em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

.circle{
  width: 4em;
  height: 4em;
  border-radius: 2em;
  position: absolute;
  left: 0;
}
