@import "vars";


main{
  height: 90%;

  width: calc(100% + 2em);
  position: absolute;
  right: 0;
  z-index: 1;

  h1{
    height: calc(5% + 1rem);
    margin: 0.5em 0;
    padding-left: 1em;
  }
}
