
$main-color: #ffdf8c;
$dark-color: #fdd478;
$light-color: #ffe9b0;
$lightest-color: #fff2d2;
$accent-color: #fd7a70;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #837f7f;

$regular-text: 1em sans-serif;

$nav-item-text: bold 1em serif;
$bold-header-text: bold 1.5em sans-serif;
$price-text: 1.3em sans-serif;

$description-text: italic 1em sans-serif;
$button-text: bold 2em serif;
