@import '../../../styles/vars';

@keyframes move {
  0% {
    transform: translate(100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes pressed {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
    box-shadow: 0 1em 0.8em $grey-color;
  }
  100% {
    transform: scale(0.8) translate(0, 25%);
    opacity: 1;
    box-shadow: 0 1em 0.5em $grey-color;
  }
}

.list__item {
  width: 20em;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 3.5em 1em 0.5em;

  opacity: 0;
  animation: move 0.5s 1 linear forwards;

  div {
    position: relative;
    width: 100%;
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      border-radius: 10em;
      box-shadow: 0 1em 0.8em $grey-color;
    }

    button {
      width: 3em;
      height: 3em;
      border-radius: 1.5em;
      outline: none;
      border: none;

      position: absolute;
      bottom: 0;

      font: $button-text;
      background-color: $accent-color;
      color: $white-color;

      cursor: pointer;

      opacity: 0;
      animation-delay: 0.5s;
      animation: pressed 0.5s 1 reverse linear forwards;

      &:active {
        animation: pressed 0.5s 1 alternate linear forwards;
      }
    }
  }

  .list__item__price {
    font: $price-text;
    text-align: center;
    color: $grey-color;
    margin: 2em 0 0;
  }

  h3 {
    margin: 0.5em 0 0;
    font: $button-text;
  }

  .list__item__description {
    font: $description-text;
    text-align: center;
    color: $grey-color;
    margin: 0.5em 0 0;
  }
}
