@import '../../../styles/employee-page';

.item-edit-form {
  width: 95%;
  background-color: $light-color;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;
  font: $regular-text;
  label {
    font: $regular-text;
  }
}

.tag_edit-container {
  display: flex;
  align-items: center;
}

.tag_edit {
  background-color: $white-color;
  padding: 0.5em 1em;
  border-radius: 1em;
  display: flex;
  margin: 0.5em 1em 0 0;

  button {
    height: 1em;
    width: 1em;
    font: $regular-text;
  }
}

.input_large {
  width: 60%;
}
