@import '../../vars';

li {
  position: relative;
  padding: 0 1rem 0 1.875em;
  margin-bottom: 1.875em;

  section {
    h2 {
      text-transform: capitalize;
      margin: 0 0 1rem;
    }
    span {
      font: $price-text;
      margin: 0 0 1rem;
      color: $grey-color;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .order {
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      .counter {
        height: 2.4em;
        border-radius: 1.2em;
        margin: 0;
        padding: 0;
        border: rgba($grey-color, 0.5) solid 1px;

        display: flex;
        flex-direction: row;
        align-items: center;
      }

      button {
        background-color: transparent;
        outline: none;
        border: none;
        font: $bold-header-text;
        color: $grey-color;
        &:disabled {
          opacity: 0.3;
        }
        &:active {
          transform: translate(0, 5%);
        }
      }
    }
  }

  &:before {
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    left: 0;
    top: 0.25em;
    border-radius: 1em;
  }
}

.active {
  section {
    h2 {
      color: $black-color;
    }
  }
  &:before {
    background: $black-color;
  }
}
.inactive {
  section {
    h2 {
      color: $grey-color;
    }
  }
  &:before {
    background: $grey-color;
  }
}
