@import "../../vars";
.cart__id {
  font: $regular-text;
  color: $grey-color;
  margin-left: 0.5em;
}
.cart__total {
  font: $bold-header-text-serif;
}
.cart__price {
  margin-left: 0.5em;
  font: $button-text;
}
