@import '../../styles/circles-page';

.auth {
  .auth__form {
    label {
      .form__input_shadowless {
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.button_add-card {
  margin-left: 1em;
  height: 1em;
  width: 1em;
  background-color: $accent-color;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  color: $white-color;
  font: $regular-text;
  padding: 0;
}
