@import "../../vars";

.error-message {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  h1 {
    font: $bold-header-text;
    color: $white-color
  }
}

.admin-dashboard {
  height: 100vh;
  width: 100vw;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
    align-items: flex-start;
    height: 10%;
    background-color: $main-color;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      h2{
        font: $price-text;
        color: $grey-color;
        text-transform: uppercase;
      }
      p{
        margin: 0;
        font: $price-text-serif;
        color: $black-color;
      }
    }
  }
  main {
    height: 90%;
    display: flex;
    flex-direction: row;
    nav {
      width: 20%;
      height: calc(100% - 2em);
      margin: 1em 0;
      padding-left: 1em;
      border-right: rgba($grey-color, 0.5) solid 1px;
      font: $nav-item-text;
      a{
        text-transform: uppercase;
        cursor: pointer;
        color: $black-color;
      }
    }
    .admin-dashboard__router {
      width: 80%;
      height: 100%;
      table {
        font: $regular-text;
        display: block;
        width: 95%;
        max-height: 80%;
        position: relative;
        overflow-y: auto;
        border-collapse: collapse;
        margin-bottom: 1em;
        tbody, thead {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
        thead {
          position: sticky;
          z-index: 2;
          top: 0;
        }
        th, td {
          border: rgba($grey-color, 0.5) solid 1px;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
        th {
          color: $grey-color;
          background-color: $white-color;
          border-top: none;
        }
        td {
          border-bottom: none;
        }
        .checkbox-container {
          text-align: center;
        }
      }
    }
  }
}
