@import "../../vars";

.auth-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .auth-button_login {
    margin-right: $auth-element-radius;
  }

  .auth-bar__username {
    font: $regular-text;
    color: $black-color;
    margin-right: $auth-element-radius;
  }
}
