@import '../../styles/vars';

.checkbox-container {
  text-align: center;
  button {
    font: $regular-text;
    background-color: transparent;
    border: none;
    outline: none;
  }

  select {
    font: $regular-text;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  border-radius: 1em;
  background-color: $light-color;
  margin-bottom: 1.5em;
  font-size: 0.65em;
  padding: 1em;

  label {
    margin: 0 1em 0 0;
  }
}
